# --------------------
# Base de données
# --------------------
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# --------------------
# Express
# --------------------
PORT=500

# --------------------
# JWT
# --------------------
JWT_SECRET=

# --------------------
# CLOUDINARY
# --------------------
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# --------------------
# NODEMAILER
# --------------------
MAIL_USER=
MAIL_PASS=